<template>
  <div class="text-left text-black">
    <div
      v-for="(faq, i) in faqs"
      :key="faq.title"
      class="w-full mt-5 overflow-hidden bg-white my-shadow tab"
    >
      <input
        :id="`tab-single-${i + 1}`"
        class="absolute opacity-0"
        type="radio"
        name="tabs"
      />
      <label
        class="flex justify-between block p-3 space-x-2 leading-normal transition-all duration-150 border-b cursor-pointer"
        :for="`tab-single-${i + 1}`"
      >
        <div class="w-auto">
          <h3>{{ i + 1 }}. {{ faq.title }}</h3>
        </div>
        <div>
          <button
            name="faq open indicator"
            class="indicator focus:outline-none"
            @click="toggle(i)"
          >
            <ChevronDownIcon></ChevronDownIcon>
          </button>
        </div>
      </label>
      <div
        class="overflow-hidden leading-normal transition-all duration-150 bg-gray-100 border-l-2 tab-content"
      >
        <p class="p-4 bg-gray-300">
          {{ faq.content }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FaqAccordion',
  props: {
    faqs: {
      type: Array,
      default: () => [],
    },
  },
  mounted() {
    const myRadios = document.getElementsByName('tabs')
    let setCheck
    let x = 0
    for (x = 0; x < myRadios.length; x++) {
      const myRadio = myRadios[x]
      myRadio.onclick = function () {
        if (setCheck !== this) {
          setCheck = this
        } else {
          myRadio.checked = false
          setCheck = null
        }
      }
    }
  },
  methods: {
    toggle(i) {
      document.getElementsByName('tabs')[i].click()
    },
  },
}
</script>

<style lang="scss">
$myaccent: #b8c2cc;
$myaccent1: #f8fafc;
.my-shadow {
  box-shadow: 0 4px 6px -1px rgba(250, 250, 250, 0.5),
    0 2px 4px -1px rgba(250, 250, 250, 0.3);
}

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
  border-color: rgba(24, 16, 0, 0.3);
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  @apply max-h-screen;
}

/* Label formatting when open */
.tab input:checked + label {
  background-color: $myaccent1;
  border-color: rgba(24, 16, 0, 0.6);
  @apply text-xl border-l-2 text-primary;
}

.indicator {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  @apply rounded-full;
}

/* Icon formatting - closed */
.tab input[type='radio'] + label .indicator {
  border-color: $myaccent;
  @apply border;
}

/* Icon formatting - open */
.tab input[type='radio']:checked + label .indicator {
  transform: rotateX(180deg);
  color: $myaccent1;
  @apply bg-primary;
}
</style>
