<template>
  <div class="flex flex-wrap justify-center road-map-card">
    <div class="w-full road-map-date">
      <span class="yellow-line">
        <img
          src="images/yellow-circle.png"
          alt=""
          width="60px"
          class="m-auto -mt-1"
        />
      </span>
      <h4 class="text-xl font-bold">{{ roadMap.date }}</h4>
    </div>
    <div class="w-full road-map-content">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
      <span class="line-4"></span>
      <ul class="">
        <li v-for="activity in roadMap.activities" :key="activity">
          {{ activity }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RoadMapItemVert',
  props: {
    roadMap: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style lang="scss" scoped>
.road-map-content {
  max-width: 300px;
  // height: 330px;
  position: relative;
  padding: 20px;
  span {
    position: absolute;
    background-color: #5b5a56;
    &.line-1 {
      top: 3%;
      left: 0;
      width: 1px;
      height: 94%;
    }
    &.line-2 {
      top: 0;
      left: 3%;
      width: 94%;
      height: 1px;
    }
    &.line-3 {
      top: 0;
      right: 0;
      width: 1px;
      height: 94%;
    }
    &.line-4 {
      bottom: 0;
      left: 3%;
      width: 94%;
      height: 1px;
    }
  }
}
.road-map-card {
  align-items: center;
  margin-bottom: 30px;
  .road-map-date {
    span.yellow-line {
      display: block;
      text-align: right;
      position: relative;
      //   margin-top: -30px;
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 180px;
        background-color: #5b5a56;
        @apply m-auto;
      }
    }
  }
  ul {
    li {
      &::after {
        content: '';
        display: block;
        height: 30px;
        width: 1px;
        background-color: #5b5a56;
        position: relative;
        left: 50%;
        bottom: 0;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
</style>
