<template>
  <div class="m-auto">
    <div
      class="w-full mb-0 opacity-0 road-map-card"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-easing="ease"
    >
      <div class="flex items-center">
        <div class="road-map-date">
          <h4 class="text-xl font-bold text-center">{{ roadMaps[0].date }}</h4>
          <span class="horizontal-yellow-line">
            <img
              src="images/yellow-circle.png"
              alt=""
              width="60px"
              class="m-auto -mt-1"
            />
          </span>
        </div>
        <div class="road-map-content">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
          <span class="line-4"></span>
          <ul class="">
            <li v-for="activity in roadMaps[0].activities" :key="activity">
              {{ activity }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="flex" style="margin-left: 6.8rem;">
      <div
        class="flex flex-wrap justify-center opacity-0 road-map-card"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-easing="ease"
      >
        <div class="w-full road-map-date">
          <span class="yellow-line">
            <img
              src="images/yellow-circle.png"
              alt=""
              width="60px"
              class="m-auto -mt-1"
            />
          </span>
          <h4 class="text-xl font-bold">{{ roadMaps[1].date }}</h4>
        </div>
        <div class="w-full road-map-content">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
          <span class="line-4"></span>
          <ul class="">
            <li v-for="activity in roadMaps[1].activities" :key="activity">
              {{ activity }}
            </li>
          </ul>
        </div>
      </div>

      <div
        class="flex justify-center mb-0 opacity-0 road-map-card"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease"
        style="margin-top: 14.2rem; margin-left: -4rem;"
      >
        <div class="road-map-date">
          <h4 class="text-xl font-bold text-center">{{ roadMaps[2].date }}</h4>
          <span class="horizontal-yellow-line last">
            <img
              src="images/yellow-circle.png"
              alt=""
              width="60px"
              class="m-auto -mt-1"
            />
          </span>
        </div>
        <div class="w-full road-map-content">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
          <span class="line-4"></span>
          <ul class="">
            <li v-for="activity in roadMaps[2].activities" :key="activity">
              {{ activity }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RoadMapItem',
  props: {
    roadMaps: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss" scoped>
.road-map-content {
  max-width: 300px;
  // height: 330px;
  position: relative;
  padding: 20px;
  span {
    position: absolute;
    background-color: #5b5a56;
    &.line-1 {
      top: 3%;
      left: 0;
      width: 1px;
      height: 94%;
    }
    &.line-2 {
      top: 0;
      left: 3%;
      width: 94%;
      height: 1px;
    }
    &.line-3 {
      top: 0;
      right: 0;
      width: 1px;
      height: 94%;
    }
    &.line-4 {
      bottom: 0;
      left: 3%;
      width: 94%;
      height: 1px;
    }
  }
}
.road-map-card {
  align-items: center;
  .road-map-date {
    span.yellow-line {
      display: block;
      text-align: right;
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 130px;
        background-color: #5b5a56;
        @apply m-auto;
      }
    }
    span.horizontal-yellow-line {
      display: flex;
      text-align: right;
      position: relative;
      @apply -mt-5;
      &::before {
        content: '';
        display: block;
        width: 180px;
        height: 1px;
        background-color: #5b5a56;
        @apply m-auto -mr-1;
      }
    }
    span.horizontal-yellow-line.last {
      display: flex;
      text-align: right;
      position: relative;
      @apply -mt-5;
      &::before {
        content: '';
        display: block;
        width: 240px;
        height: 1px;
        background-color: #5b5a56;
        @apply m-auto -mr-1;
      }
    }
  }
  ul {
    li {
      &::after {
        content: '';
        display: block;
        height: 30px;
        width: 1px;
        background-color: #5b5a56;
        position: relative;
        left: 50%;
        bottom: 0;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
</style>
