<template>
  <div>
    <div class="px-5 pb-10 text-center bg-primary sm:px-10">
      <div>
        <img src=" images/header-bg.png" alt="" class="w-full h-32" />

        <div
          data-aos="fade-down"
          data-aos-duration="700"
          data-aos-easing="ease"
          class="relative w-8/12 m-auto -mt-40 sm:-mt-32 pion-logo-div"
        >
          <img
            src=" images/pion-gif.gif"
            alt=""
            class="absolute top-0 right-0 w-10 h-10 -mt-8 -mr-8 sm:-mt-12 sm:-mr-12 sm:w-16 sm:h-16"
          />
          <img src=" images/logo.png" alt="" class="relative w-full mt-32" />
        </div>
      </div>
      <div class="mt-10">
        <h1
          data-aos="zoom-in-up"
          data-aos-easing="ease"
          data-aos-duration="700"
          data-aos-delay="500"
          class="pion-init-text"
        >
          Flexible Money
        </h1>
        <h1
          data-aos="zoom-in-up"
          data-aos-delay="900"
          data-aos-duration="700"
          data-aos-easing="ease"
          class="pion-init-text first-init-text"
        >
          Game Theory
        </h1>
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-delay="900"
        data-aos-easing="ease"
        data-aos-anchor=".first-init-text"
        class="flex flex-wrap justify-center mt-20 space-y-10 sm:flex-no-wrap sm:space-y-0 sm:space-x-10"
      >
        <div class="w-full sm:w-auto">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://t.me/PIONDefi"
          >
            <button
              aria-label="telegram group"
              class="focus:outline-none bg-telegram-blue pion-button"
            >
              <img
                src=" images/telegram.png"
                alt=""
                width="24px"
                class="inline"
              />
              <span class="text-white">
                Join The Telegram
              </span>
            </button>
          </a>
        </div>
        <div class="w-full sm:w-auto">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://uniswap.exchange/"
          >
            <button
              disabled
              aria-label="uniswap listing"
              class="bg-white opacity-50 cursor-not-allowed focus:outline-none pion-button text-primary"
            >
              UNISWAP LISTING
            </button>
          </a>
        </div>
      </div>
      <div
        class="flex flex-wrap justify-around mt-20 space-y-12 md:flex-no-wrap md:space-y-0 xl:px-56"
      >
        <div
          v-for="(pionPerk, i) in pionPerks"
          :key="pionPerk.content"
          data-aos="fade-up"
          data-aos-duration="1000"
          :data-aos-delay="1000 + (i + 1) * 400"
          data-aos-easing="ease"
          class="w-11/12 px-2 pion-perk sm:w-8/12 md:w-4/12 md:mx-5 xl:w-3/12"
        >
          <img :src="pionPerk.image" alt="" />
          <p class="whitespace-pre-line">
            {{ pionPerk.content }}
          </p>
        </div>
      </div>
    </div>
    <img
      src=" images/shape-1.png"
      alt=""
      class="hidden w-full -mt-1 md:block"
    />
    <img src=" images/shape-1-sm.png" alt="" class="w-full -mt-1 md:hidden" />
    <div class="px-5 mt-10 sm:px-10 md:mt-5">
      <h1
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-easing="ease"
        class="text-4xl font-bold text-center features"
      >
        FEATURES
      </h1>
      <div
        class="flex flex-wrap justify-center m-auto mt-5 space-y-20 xl:w-8/12"
      >
        <div
          v-for="(pionFeature, i) in pionFeatures"
          :key="pionFeature.title"
          :data-aos="(i + 1) % 2 === 0 ? 'fade-left' : 'fade-right'"
          data-aos-duration="1000"
          data-aos-delay="900"
          data-aos-easing="ease"
          class="flex flex-wrap items-center w-full pion-feature md:justify-around sm:justify-between even:flex-row-reverse sm:flex-no-wrap lg:w-8/12"
        >
          <div class="w-full sm:w-5/12">
            <h2 class="text-xl font-bold">
              {{ i + 1 }}. {{ pionFeature.title }}
            </h2>
            <p class="whitespace-pre-line">
              {{ pionFeature.content }}
            </p>
            <a
              :href="pionFeature.actionLink"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button
                v-if="pionFeature.actionable"
                aria-label="feature action"
                class="px-4 py-2 mt-3 font-bold text-white bg-black rounded-full focus:outline-none"
              >
                Read Litepaper
              </button>
            </a>
          </div>
          <div class="w-full sm:w-5/12">
            <img
              :src="pionFeature.image"
              alt=""
              width="300px"
              class="m-auto mt-5 sm:m-0"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-48">
      <h1
        class="text-4xl font-bold text-center"
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-easing="ease"
      >
        ROAD MAP
      </h1>
      <div class="justify-start hidden px-5 mt-5 text-center lg:flex sm:px-10">
        <RoadMapItem :road-maps="roadMaps"></RoadMapItem>
      </div>
      <div
        class="flex flex-wrap justify-center px-5 mt-5 text-center md:justify-start sm:px-10 lg:hidden"
      >
        <RoadMapItemVert
          v-for="roadMap in roadMaps"
          :key="roadMap.date"
          :road-map="roadMap"
          class="w-full"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease"
        ></RoadMapItemVert>
      </div>
    </div>
    <img
      src=" images/shape-2.png"
      alt=""
      class="hidden w-full mt-20 md:block"
    />
    <img src=" images/shape-2-sm.png" alt="" class="w-full mt-20 md:hidden" />
    <div class="px-5 pb-5 -mt-1 text-center bg-primary sm:px-10">
      <div class="pt-10 sm:pt-0">
        <h1
          class="text-4xl font-bold text-center text-white faq"
          data-aos="fade"
          data-aos-duration="1000"
          data-aos-easing="ease"
        >
          FAQ
        </h1>
        <FaqAccordion
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-easing="ease"
          :faqs="faqs"
          class="m-auto sm:w-10/12 md:w-8/12 lg:w-7/12 xl:w-6/12"
        ></FaqAccordion>
      </div>
      <div
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-easing="ease"
        data-aos-anchor=".faq"
        class="mt-20"
      >
        <h2 class="text-2xl font-bold text-center text-white">
          Join Our Community
        </h2>
        <div class="mt-4">
          <a
            href="https://t.me/PIONDefi"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              aria-label="telegram link"
              class="mr-2 rounded-full focus:outline-none"
            >
              <img
                src=" images/yellow-telegram.png"
                alt=""
                width="24px"
                class=""
              />
            </button>
          </a>
          <a
            href="https://twitter.com/PIONDefi"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button
              aria-label="twitter page"
              class="rounded-full focus:outline-none"
            >
              <img src=" images/twitter.png" alt="" width="24px" class="" />
            </button>
          </a>
        </div>
      </div>
      <div class="mt-8">
        <h2 class="text-2xl font-bold text-center text-white">
          Contact Us
        </h2>
        <p class="mt-2">
          <a href="mailto:info@pion.money" class="font-bold text-white">
            info@pion.money
          </a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pionPerks: [
        {
          content: `Pre-Launch Supply:
          5, 000, 000 PION.`,
          image: ' images/google-ana.png',
        },
        { content: '25% Initial Rebase.', image: ' images/icons-2.png' },
        { content: '320 ETH OTC Sale.', image: ' images/cripto.png' },
      ],
      pionFeatures: [
        {
          title: 'Flexible Money',
          content:
            'PION is a supply elastic digital token that achieves equilibrium with the help of profit-seeking arbitrators.',
          image: ' images/scale.png',
          actionable: true,
          actionLink: 'https://bit.ly/3jaiGKz',
        },
        {
          title: 'Multi-Chain Future',
          content:
            'PION will be represented on several blockchain in the future.',
          image: ' images/pie.png',
        },
        {
          title: 'DUAL Token Economy',
          content: `Swap PION to PRISE token on PIONSwap.
            PRISE has been designed to always increase in price overtime.`,
          image: ' images/pie-green.png',
        },
      ],
      roadMaps: [
        {
          date: 'August 2020',
          activities: [
            'Concept Development.',
            'Litepaper Version1.0.',
            'Website Launch.',
            'OTC Sale',
            'Uniswap Liquidity.',
          ],
          vertical: true,
        },
        {
          date: 'September 2020',
          activities: [
            `PION rebase launch
            &
            Litepaper V2.`,
          ],
          vertical: true,
        },
        {
          date: 'October 2020',
          activities: [
            'MESON launch',
            `Listing on more exchanges,
          wallets and cointracking sites`,
          ],
          vertical: true,
        },
      ],
      faqs: [
        {
          title: 'When does OTC Sale start?',
          content: 'OTC sale starts August 26th 16:00 UTC.',
        },
        {
          title: "Isn't PION just another copy paste rebase token?",
          content:
            'The PION team are technology and innovation professionals who are building the PION project from ground up ensuring that we produce a unique ecosystem.',
        },
        {
          title: 'How do I get PRISE tokens?',
          content:
            'The only way to get PRISE token is by buying PION tokens and swapping them for PRISE on PIONSwap page.',
        },
        {
          title:
            'When is the PION smart contract and protocol being released and will it be on GitHub?',
          content: 'It will be released following the roadmap.',
        },
        {
          title: 'Will Uniswap liquidity be locked?',
          content:
            'Uniswap liqudity and team tokens will be locked. Team tokens will be unlocked slowly.',
        },
        {
          title: 'When will the tokens be distributed?',
          content:
            'OTC tokens will be distributed in first round first serve basis.',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@media (min-width: 600px) {
  .pion-logo-div {
    max-width: 50%;
  }
}
.pion-init-text {
  @apply text-white text-4xl font-bold;
}
.pion-button {
  @apply rounded w-48 py-2 text-base font-bold;
}
.pion-perk {
  @apply py-3 bg-white rounded-lg;
  p {
    @apply font-extrabold text-2xl;
  }
  img {
    @apply m-auto;
  }
}
</style>
